@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

body {
  font-family: 'Open Sans';
  font-size: 1.5em;
  background-image: url('./background.jpeg');
  background-size: cover;
  background-position: center;
}

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	line-height: 1.5;
	font-family: Roboto, Helvectica, Arial, sans-serif;
	color: #e6e6e6;
}


main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto Slab", Times, "Times New Roman", serif;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}

a {
	color: #009688;
}

a:hover,
a:active {
	text-decoration: none;
}

.ib {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.ul-reset {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}


.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.header {
	text-align: center;
}

.navigation {
	background-color: #e0e0e0;
	font-weight: 700;
}

.navigation-list {
	font-size: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navigation-item {
	font-size: 1.2rem;
}

.navigation-link {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;
	transition: color .2s ease-in-out;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	left: auto;
	right: 0;
	border-bottom: solid 2px;
}

.navigation-link:hover {
	color: #009688;
}

.navigation-link:hover:before {
	width: 100%;
	left: 0;
}

.navigation-link:before {
	transition: width .2s ease-in-out;
}

.main {
	padding-top: 20px;
	padding-bottom: 20px;
}

.content-article {
	margin-top: 80px;
}

.content-article:first-child {
	margin-top: 0;
}

.content-article > h1:first-child {
	margin-top: 0;
}

@media only screen and (max-width:1024px) {
	.wrapper {
		width: 90%;
	}
}

.content {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

.centerplease {
  margin: 0 auto;
  font-size: 40px;
}

.question {
  position: relative;
  background: #ffffff27;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
  color: #1d1d1d;
  background: #d3d3d383;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
