@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  background-image: url("./fire-lot.gif");
  background-size: cover;
}

nav {
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height:8vh;
  width:auto;
  background-color:#252B48;
  color:white;
  font-family: 'Poppins';
  font-size:30px;
  height:60px;
}

.navigationlinks {
  display:flex;
  justify-content:space-around;
  width:450px;
  font-family:'Poppins', sans-serif;
  font-size:20px;
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

.navigationlinks li {
  list-style-type:none;

}

.navigationlinks a:hover {
  color:white;
  text-decoration:none;
  opacity:1;
}

.title {
  color:#ffffff;
  text-align:center;
  font-family: 'Playfair Display', serif;
  font-weight:900;
  font-size:40px;
  margin-top:70px;
  margin-bottom:2px;
}

#description {
  text-align:center;
  font-family:'Poppins', sans-serif;
  color:#ffffff;
  margin-top:30px;
}

.whole {
  width:100%;
  display:flex;
  justify-content:center;
}

.pictures {
  width:300px;
}

.name {
  text-align:center;
  color:#ffffff;
  font-family:'Poppins', sans-serif;
}

.person {
  font-family: 'Playfair Display', serif;
}

.button {
  margin-top:30px;
  font-family:'Poppins', sans-serif;
  font-size:15px;
  background-color:#3D246C;
  border-radius:3px;
  padding:3px;
  margin-left:7px;
  margin-right:7px;
}

.button:hover {
  background-color:white;
  color:#3D246C;
  border-color:#3D246C;
  font-weight:bold;
}

#footer{
  text-align:center;
  padding:12px;
  font-family: 'Poppins', sans-serif;
  color:white;
  background-color:#252B48;
  width:auto;
  font-size:17px;
  margin-left:0px;
  margin-right:0px;
  margin-top:50px;
}